h1 {

    color: #006064;

}
 
h2 {

    color:#006064;

}
 

body{
    font-family: arial, Arial, Helvetica, sans-serif;
background: linear-gradient(to left, rgb(45, 127, 165), rgb(117, 231, 252)) ;
margin-left: 30px;/*margen*/
margin-right: 30px;
margin-bottom: 30px;
margin-top: 30px;
}

.caja{ 
    background:#b2ebf2;/*color de fondo*/
    padding: 16px;/*relleno*/
box-shadow: 3px 3px 15px black;/*x y blur color (difuminado)*/
}

.detelle_directions{
    color: #ff7043;
}

.volver{
    text-decoration: none;
    color: #ff3d00;/*color de texto */
    font-weight: bold;/*negrita*/
}